<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/logoCPT.png" />
    <link rel="stylesheet" href="./css/style_mainQT.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/global.js"></script>
    <script type="module" src="./js/courseAmin.js"></script>
    <script src="./js/click.js"></script>
    <title>Khoá học</title>
  </head>

  <body ng-app="AdminCourse" ng-controller="Coursectrl">
    <section class="header">
      <a href="javascript:void(0);" class="icon" onclick="openBTN()">
        <i class="fas fa-bars"></i>
      </a>
      <div class="box-login" id="box-t">
        Xin chào, <span id="ten_nv">Admin</span>
        <i class="fas fa-sort-down"></i>
        <div class="box-login-bottom" id="box-b">
          <button onclick="TTTaiKhoan()">
            <i class="fas fa-user-alt"></i> Tài khoản
          </button>
          <button onclick="LogOut();">
            <i class="fas fa-sign-out-alt"></i> Đăng xuất
          </button>
        </div>
      </div>
    </section>
    <section class="main">
      <div class="row">
        <div class="col-1 col-s-12 category">
          <button onclick="TongQuan()">
            <i class="fas fa-tachometer-alt"></i> Tổng quan
          </button>
          <button onclick="LoaiSanPham()">
            <i class="fas fa-boxes"></i> lĩnh vực
          </button>
          <button onclick="categorys()">
            <i class="fas fa-boxes"></i> Thể loại
          </button>

          <button onclick="topic()"><i class="fas fa-boxes"></i> Chủ đề</button>
          <button class="active" onclick="khoahoc()">
            <i class="fas fa-barcode"></i> Khóa học
          </button>
          <button onclick="teacher()">
            <i class="fas fa-barcode"></i> Giáo viên
          </button>
          <button onclick="KhachHang()">
            <i class="fas fa-users"></i> Khách hàng
          </button>

          <button onclick="HoaDon()">
            <i class="fas fa-shopping-cart"></i> Hóa đơn
          </button>
        </div>
        <div class="bx-left" id="button-left">
          <a href="javascript:void(0)" class="closebtn" onclick="closeBTN()"
            ><i class="far fa-window-close"></i
          ></a>
          <ul>
            <li onclick="TongQuan()">
              <i class="fas fa-tachometer-alt"></i> Tổng quan
            </li>
            <li onclick="LoaiSanPham()">
              <i class="fas fa-boxes"></i> Lĩnh vực
            </li>
            <li onclick="categorys()"><i class="fas fa-boxes"></i> Thể loại</li>
            <li onclick="topic()"><i class="fas fa-boxes"></i> Chủ đề</li>

            <li onclick="khoahoc()"><i class="fas fa-barcode"></i> Khóa học</li>

            <li onclick="teacher()"><i class="fas fa-barcode"></i>giáo viên</li>
            <li onclick="KhachHang()">
              <i class="fas fa-users"></i> Khách hàng
            </li>

            <li onclick="HoaDon()">
              <i class="fas fa-shopping-cart"></i> Hóa đơn
            </li>
          </ul>
        </div>
        <div class="col-11 col-s-12 content">
          <div class="col-4 col-s-12 content">
            <div class="tabcontent">
              <div class="title">
                <i class="fas fa-barcode"></i> Nhập thông tin khóa học
                <hr />
              </div>
              <div class="row">
                <form name="from-course" method="post">
                  <div class="col-12 col-s-12 padding-box">
                    <label for="txtright">Mã khóa học:</label>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <input
                      type="text"
                      name="courseID"
                      id="courseID"
                      placeholder="Nhập mã khóa học...Tự động sinh nếu không nhập..."
                    />
                  </div>

                  <div class="col-12 col-s-12 padding-box">
                    <label for="txtright">Mã giáo viên:</label>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <select name="teachID" id="teachID" class="from-select">
                      <option selected disabled value="">Choose...</option>
                      <option
                        ng-repeat="x in listTeacherID"
                        value="{{x.teachID}}"
                      >
                        {{x.tcname}}
                      </option>
                    </select>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <label for="txtright">Mã chủ đề :</label>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <select name="topicID" id="topicID" class="from-select">
                      <option selected disabled value="">Choose...</option>
                      <option
                        ng-repeat="x in listTopicID"
                        value="{{x.topicID}}"
                      >
                        {{x.topicName}}
                      </option>
                    </select>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <label for="txtright">Tên khóa học:</label>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <input
                      type="text"
                      name="title"
                      id="title"
                      placeholder="Nhập tên của khóa học..."
                    />
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <label for="txtright">Hình ảnh:</label>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <div class="col-12 col-s-12 padding-box">
                      <input
                        type="text"
                        name="couresImg"
                        id="couresImg"
                        placeholder="Mô tả thêm Lĩnh vực nếu có..."
                      />
                    </div>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <label for="txtright">Đánh giá:</label>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <input
                      type="text"
                      id="evaluate"
                      name="evaluate"
                      placeholder="Nhập chất lượng đánh giá..."
                    />
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <label for="txtright">Giá khóa học:</label>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <input
                      type="text"
                      id="feecoures"
                      name="feecoures"
                      placeholder="Nhập giá bán của khóa học..."
                    />
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <label for="txtright">Trạng thái:</label>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <input
                      type="text"
                      id="status"
                      name="status"
                      placeholder="Nhập trạng thái của khóa học..."
                    />
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <label for="txtright">Ngôn ngữ:</label>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <input
                      type="text"
                      id="language"
                      name="language"
                      placeholder="Nhập ngôn ngữ của khóa học..."
                    />
                  </div>

                  <div class="col-12 col-s-12 padding-box">
                    <label for="txtright">Mô tả:</label>
                  </div>
                  <div class="col-12 col-s-12 padding-box">
                    <input
                      type="text"
                      id="decribe"
                      name="decribe"
                      placeholder="Nhập mô tả về khóa học..."
                    />
                  </div>
                  <button
                    type="submit"
                    id="btnSubmit"
                    class="btn-form"
                    style="background-color: rgba(44, 140, 15, 0.8)"
                  >
                    Submit
                  </button>
                  <button
                    type="submit"
                    id="btn__reload"
                    class="btn-form"
                    style="background-color: rgba(227, 32, 21, 0.8)"
                  >
                    Nhập mới
                  </button>
                  <hr />
                </form>
              </div>
            </div>
          </div>
          <div class="col-8 col-s-12 content">
            <div class="tabcontent">
              <div class="title">
                <i class="fas fa-barcode"></i> Danh sách khóa học
                <button style="margin-right: 3px">
                  <i class="far fa-trash-alt"></i> Xóa chọn
                </button>
                <hr />
              </div>
              <div class="row">
                <div class="col-10 col-s-12 padding-box">
                  <input
                    type="text"
                    id="search-course"
                    placeholder="Nhập mã khóa học hoặc tên khóa học..."
                  />
                </div>
                <div class="col-2 col-s-12 padding-box">
                  <button class="btnSeach">
                    <i class="fas fas fa-search"></i> Tìm kiếm
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-s-12 padding-box">
                  <table>
                    <thead>
                      <tr>
                        <th style="padding-top: 10px">
                          <input type="checkbox" />
                        </th>
                        <th>Mã khóa học</th>
                        <th>Tên Giáo viên</th>
                        <th>Tên khóa học</th>
                        <th>Hình ảnh</th>
                        <th>Giá tiền</th>
                        <th>Trạng thái</th>
                        <th>Mô tả</th>
                        <th>Thao tác</th>
                      </tr>
                    </thead>
                    <tbody id="listProduct"></tbody>
                    <tbody>
                      <tr class="Courseitem">
                        <td style="text-align: center; padding-top: 10px">
                          <input type="checkbox" value="" id="" />
                        </td>
                        <th>1</th>
                        <th>Jonas Schmedtmann</th>
                        <th>
                          Advanced CSS and Sass: Flexbox, Grid, Animations and
                          More!
                        </th>
                        <th>
                          <img
                            src="https://img-b.udemycdn.com/course/240x135/1026604_790b_2.jpg"
                            alt=""
                          />
                        </th>
                        <th>1.899.000</th>
                        <th>đang xác nhận</th>
                        <th>jậhjsha</th>
                        <td style="text-align: center">
                          <a
                            href=""
                            class="detailCourse"
                            data-id="{{x.courseID}}"
                          >
                            <i
                              class="fa-solid fa-pen-to-square"
                              title="Sửa"
                            ></i>
                          </a>
                          <a
                            href=""
                            class="deleteCourse"
                            data-id="{{x.courseID}}"
                          >
                            <i class="fas fa-trash-alt" title="Xóa"></i>
                          </a>
                        </td>
                      </tr>
                      <tr class="Courseitem">
                        <td style="text-align: center; padding-top: 10px">
                          <input type="checkbox" value="" id="" />
                        </td>
                        <th>2</th>
                        <th>Evon Dev</th>
                        <th>
                          HTML CSS Master - Nắm chắc toàn bộ kiến thức HTML CSS
                          A-Z
                        </th>
                        <th>
                          <img
                            src="https://img-b.udemycdn.com/course/240x135/5316412_a0dd.jpg"
                            alt=""
                          />
                        </th>
                        <th>699.000</th>
                        <th>đang xác nhận</th>
                        <th>jậhjsha</th>
                        <td style="text-align: center">
                          <a
                            href=""
                            class="detailCourse"
                            data-id="{{x.courseID}}"
                          >
                            <i
                              class="fa-solid fa-pen-to-square"
                              title="Sửa"
                            ></i>
                          </a>
                          <a
                            href=""
                            class="deleteCourse"
                            data-id="{{x.courseID}}"
                          >
                            <i class="fas fa-trash-alt" title="Xóa"></i>
                          </a>
                        </td>
                      </tr>
                      <tr class="Courseitem">
                        <td style="text-align: center; padding-top: 10px">
                          <input type="checkbox" value="" id="" />
                        </td>
                        <th>3</th>
                        <th>Maximilian Schwarzmüller</th>
                        <th>React & TypeScript - The Practical Guide</th>
                        <th>
                          <img
                            src="https://img-b.udemycdn.com/course/240x135/5620946_7c11.jpg"
                            alt=""
                          />
                        </th>
                        <th>1.099.000</th>
                        <th>đang xác nhận</th>
                        <th>jậhjsha</th>
                        <td style="text-align: center">
                          <a
                            href=""
                            class="detailCourse"
                            data-id="{{x.courseID}}"
                          >
                            <i
                              class="fa-solid fa-pen-to-square"
                              title="Sửa"
                            ></i>
                          </a>
                          <a
                            href=""
                            class="deleteCourse"
                            data-id="{{x.courseID}}"
                          >
                            <i class="fas fa-trash-alt" title="Xóa"></i>
                          </a>
                        </td>
                      </tr>
                      <tr class="Courseitem">
                        <td style="text-align: center; padding-top: 10px">
                          <input type="checkbox" value="" id="" />
                        </td>
                        <th>4</th>
                        <th>Jonas Schmedtmann</th>
                        <th>
                          Node.js, Express, MongoDB & More: The Complete
                          Bootcamp 2024
                        </th>
                        <th>
                          <img
                            src="https://img-b.udemycdn.com/course/240x135/1672410_9ff1_5.jpg"
                            alt=""
                          />
                        </th>
                        <th>2.299.000</th>
                        <th>đang xác nhận</th>
                        <th>jậhjsha</th>
                        <td style="text-align: center">
                          <a
                            href=""
                            class="detailCourse"
                            data-id="{{x.courseID}}"
                          >
                            <i
                              class="fa-solid fa-pen-to-square"
                              title="Sửa"
                            ></i>
                          </a>
                          <a
                            href=""
                            class="deleteCourse"
                            data-id="{{x.courseID}}"
                          >
                            <i class="fas fa-trash-alt" title="Xóa"></i>
                          </a>
                        </td>
                      </tr>
                      <tr class="Courseitem">
                        <td style="text-align: center; padding-top: 10px">
                          <input type="checkbox" value="" id="" />
                        </td>
                        <th>5</th>
                        <th>Daniel Strong</th>
                        <th>The Ultimate Excel Programmer Course</th>
                        <th>
                          <img
                            src="https://img-b.udemycdn.com/course/240x135/164058_e914_2.jpg"
                            alt=""
                          />
                        </th>
                        <th>0</th>
                        <th>đang xác nhận</th>
                        <th>jậhjsha</th>
                        <td style="text-align: center">
                          <a
                            href=""
                            class="detailCourse"
                            data-id="{{x.courseID}}"
                          >
                            <i
                              class="fa-solid fa-pen-to-square"
                              title="Sửa"
                            ></i>
                          </a>
                          <a
                            href=""
                            class="deleteCourse"
                            data-id="{{x.courseID}}"
                          >
                            <i class="fas fa-trash-alt" title="Xóa"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-12 col-s-12 padding-box">
                  <div class="box-sum">
                    <div class="box-left">
                      Số lượng Khóa học:
                      <span id="soluong">5</span>
                    </div>
                    <div class="box-right">
                      <button class="btn-prev">
                        <i class="fas fa-angle-left"></i>
                      </button>

                      <div class="navigation">
                        <!-- <button data-id="1">1</button>
                      <button data-id="2">2</button>
                      <button data-id="3">3</button>
                      <button data-id="4">4</button> -->
                      </div>
                      <button class="btn-next">
                        <i class="fas fa-angle-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="overlay"></div>
            <!-- List Lesson -->
            <div class="lesson_wrapper">
              <h1 class="lesson_heading">Danh sách bài học</h1>
              <div class="btn btn-primary btn-exit-form">X</div>

              <div class="search">
                <div class="col-10 col-s-12 padding-box">
                  <input
                    type="text"
                    class="input__text-seacher"
                    placeholder="Nhập mã, tên bài học..."
                  />
                </div>
                <button class="btn btn-primary btn-search search-lesson">
                  <i class="fas fas fa-search"></i> Tìm kiếm
                </button>
              </div>
              <div class="col-12 col-s-12 padding-box">
                <div class="lesson_list">
                  <div class="row">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Tên bài học</th>
                          <th>Mã video</th>
                          <th>Hình ảnh</th>
                          <th>Thời lượng</th>
                          <th>Nôi dung</th>
                          <th>Mô tả</th>
                          <th>Thao tác</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr ng-repeat="x in listLesson" class="lesson-item">
                          <td>
                            <div class="form-check">
                              <input
                                style="margin-left: 5px"
                                type="checkbox"
                                name="lessonID"
                                class="from-check-input"
                                value="{{x.lessonID}}"
                              />
                            </div>
                          </td>
                          <td
                            style="
                              width: 15%;
                              max-height: 48px;
                              overflow: hidden;
                              text-overflow: ellipsis;
                            "
                          >
                            <section
                              contenteditable="false"
                              name="lessonName"
                              class="view"
                              data-src="{{x.lessonName}}"
                            >
                              <!-- Loading... -->
                              {{x.lessonName}}
                            </section>
                          </td>
                          <td>
                            <section
                              contenteditable="false"
                              name="videoID"
                              class="view"
                              data-src="{{x.videoID}}"
                            >
                              <!-- Loading... -->
                              {{x.videoID}}
                            </section>
                          </td>
                          <td
                            style="
                              width: 10%;
                              max-height: 48px;
                              overflow: hidden;
                              text-overflow: ellipsis;
                            "
                          >
                            <section
                              contenteditable="false"
                              name="img"
                              class="view"
                              data-src="{{x.img}}"
                            >
                              <!-- Loading... -->
                              {{x.img}}
                            </section>
                          </td>
                          <td>
                            <section
                              contenteditable="false"
                              name="time"
                              class="view"
                              data-src="{{x.time}}"
                            >
                              <!-- Loading... -->
                              {{x.time}}
                            </section>
                          </td>
                          <td
                            style="
                              width: 25%;
                              max-height: 48px;
                              overflow: hidden;
                              text-overflow: ellipsis;
                            "
                          >
                            <section
                              contenteditable="false"
                              name="content"
                              class="view"
                              data-src="{{x.content}}"
                            >
                              <!-- Loading... -->
                              {{x.content}}
                            </section>
                          </td>
                          <td>
                            <section
                              contenteditable="false"
                              name="decribe"
                              class="view"
                              data-src="{{x.decribe}}"
                            >
                              <!-- Loading... -->
                              {{x.decribe}}
                            </section>
                          </td>
                          <td style="text-align: center">
                            <button
                              href=""
                              class="btn btn-link btn-delete-lesson"
                              data-id="{{x.lessonID}}"
                            >
                              Xóa
                            </button>
                          </td>
                        </tr>

                        <!-- <tr>
                                                    <td colspan='5' class='text-center'>Bạn chưa đăng khóa học nào.
                                                    </td>
                                                </tr> -->
                      </tbody>
                    </table>
                  </div>
                  <button class="btn btn-primary btn-create-lesson">+</button>
                  <button class="btn btn-primary btn-update-lesson">Lưu</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
